.headerContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    /* width: 100%; */
    background: transparent;
}
.logo {
    position: relative;
    top: 10px;
    left: 65px;
    display: flex;
    align-items: center;
}
.logo img {
    height: 10%;
    width: 10%;
}

.logo h3 {
    color: #b0ede7;
    font-size: 1.5em;
    margin-left: 25px;
    font-family: 'Bad Script', cursive;
}
