/*  CSS file */
.maindiv {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
  /* padding: 50px 50px 50px 50px; */
  padding: 50px 70px 50px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d9eff5;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #000000;
}

.heading {
  font-size: 36px;
  color: #16344f;
  padding: 10px;
  margin-left: 20px;
  display: flex;
  align-content: center;
  text-align: center;
}

.divlabel {
  color: #16344f;
  font-size: 18px;
  font-weight: 550;
}

.userinput {
  margin-right: 40px;
  padding: 8px;
  background-color: #c0ffd1;
  color: #16344f;
  font-size: 16px;
  border: 1px solid #16344f;
  border-radius: 5px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
