.formBody{
    background-image: url("../../Assets/darkbg2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d9eff5;
    border-radius: 10px;
}

.formheading {
    font-size: 36px;
    color: #16344f;
    padding: 20px;
}